:root {

   /*==========================================================================
   Основное
   ============================================================================*/
   /* цвет фона сайта*/
   --main-bg-color: #fff;

   /* цвет текста сайта*/
   --main-text-color: #000;


   /*==========================================================================
   Кнопки
   ============================================================================*/
   /* цвет фона кнопок */
   --button-bg-color: #cc1b31;

   /* цвет рамки кнопок */
   --button-border-color: #cc1b31;

   /* цвет текста кнопок */
   --button-text-color: #fff;

   /* цвет фона кнопок при наведении*/
   --button-bg-hover-color: #bc1a2e;

   /* цвет рамки кнопок при наведении */
   --button-border-hover-color: #bc1a2e;

   /* цвет текста кнопок при наведении*/
   --button-text-hover-color: #fff;

   /* радиус скругления кнопок */
   --button-border-radius: 4px;


   /*==========================================================================
   Основные блоки
   ============================================================================*/
   /* цвет фона блоков */
   --main-block-bg-color: #fff;

   /* радиус скругления блоков */
   --main-block-radius: 12px;


   /*==========================================================================
   Тесты
   ============================================================================*/
   /* цвет буллетов в тестах */
   --bullet-bg-color: rgba(0, 0, 0, .1);

   /* цвет активного буллета в тестах */
   --bullet-active-bg-color: #cc1b31;

   /* цвет рамки вариантов в тесте */
   --test-border-color: #cc1b31;

   /* цвет фона вариантов в тесте */
   --test-bg-color: #fff;

   /* цвет текста вариантов в тесте */
   --test-text-color: #cc1b31;

   /* цвет рамки вариантов в тесте при наведении*/
   --test-border-hover-color: #cc1b31;

   /* цвет фона вариантов в тесте при наведении */
   --test-bg-hover-color: #bc1a2e;

   /* цвет текста вариантов в тесте при наведении */
   --test-text-hover-color: #fff;
}